#imguniv
{
    padding-left: 275px;
    padding-bottom: 30px;
    padding-top: 30px;
}

table {
 border-width:1px; 
 border-style:solid; 
 border-color:black;

 }
td { 
 border-width:1px;
 border-style:solid; 
 border-color:red;

 }

#td1
{
    width: 600px;
}

#td11
{
    width: 150px;
}
#td22
{
    width: 100px;
}
#td2
{
    width: 650px;
}
#td3
{
    width: 600px;
}
#centre 
{
    padding-bottom: 40px;
}


